<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/headerUser.ejs") %>
    <main >
        <section >
            <article id="articuloDetalle">
                <div id="caja1Detalle">
                    <center><img id="imagenProductDetail" src="/images/productos/<%=productos.imagen%>" alt="imagen"></center>
                    <h4><%=productos.descripcion%></h4>
                </div>
                <div id="caja2Detalle">
                    <h3><%=productos.nombre%></h3>
                    <h4>$<%=productos.precio%></h4>
                    <div id="botonesDetalle">
                        <form  action="">
                            <input id="comprarDetalle"type="submit" value="Comprar">
                        </form> 
                        <div id="botonesDetalle2">
                            <form action="/producto/eliminado/<%=productos.id%>?_method=DELETE" method="POST">
                                <input id="eliminarDetalle" type="submit" value="Eliminar">
                            </form>
                            <form action="">
                                <a id="editarDetalle" href="/producto/editar/<%=productos.id%>">Editar</a>
                            </form>
                        </div>  
                    </div>       
                </div>      
            </article>
        </section>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>