<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <main>
        <% product.forEach(product => {
            %>
            <section>
                <article id="articuloProduct">
                    <h3><%=product.name%></h3>
                    <h4><%=product.description%></h4>
                    <h4>$<%=product.price%></h4>   
                    <center><img id="imagenProduct" src="/images/<%= product.image %>" alt="imagen"></center>
                </article>
            </section>
            <% 
        }) %>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>
